@font-face {
    font-family: Nunito;
    src: url(../fonts/Nunito-Regular.ttf);
}

$font-primary:Nunito;
$color-primary: #009688;
$color-dark:#263238;
$color-light:#cfd8dc;
$color-black:black;
$color-white:white;

$color-green:#64DD17;
$color-red:#EF5350;

body {
    font-family: $font-primary;
    color: $color-white;
    font-size: 16px;
    background: $color-black;
}

.btn-bingo-go {
    color: $color-black;
    background-color: $color-green;
    border-color: $color-green;
}

#winModal {
    color: black;
    .modal-dialog {
        top: 40%;
        transform: translateY(-50%);
    }
}

input {
    margin: auto;
    outline: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    letter-spacing: 10px;
    width: 120px;
    padding-left: 15px;
    border: 0;
    border-bottom: 2px solid white;
    background: transparent;
}

.ttt-box {
    width: 300px;
    height: 300px;
    margin: 100px auto;
    .tiles {
        background: $color-light;
        height: 100px;
        width: 100px;
        border: 2px solid $color-black;
        font-size: 68px;
        color: $color-black;
        text-transform: uppercase;
    }
}
